<div class="graph-board--menu--category">
  <div class="graph-board--menu--category--name">Sources</div>
  <div class="graph-board--menu--category--list">
    <a {{action "select" "graph-node/number"}} href="" 
      class="graph-board--menu--option">Number</a>
    <a {{action "select" "graph-node/clock"}} href="" 
      class="graph-board--menu--option">Clock</a>
    <a {{action "select" "graph-node/circle"}} href="" 
      class="graph-board--menu--option">Circle</a>
    <a {{action "select" "graph-node/mesh"}} href="" 
      class="graph-board--menu--option">Mesh</a>
  </div>
</div>
<div class="graph-board--menu--category">
  <div class="graph-board--menu--category--name">Functions</div>
  <div class="graph-board--menu--category--list">
    <a {{action "select" "graph-node/add"}} href="" 
      class="graph-board--menu--option">Add</a>
    <a {{action "select" "graph-node/multiply"}} href="" 
      class="graph-board--menu--option">Multiply</a>
    <a {{action "select" "graph-node/divide"}} href="" 
      class="graph-board--menu--option">Divide</a>
    <a {{action "select" "graph-node/integer-divide"}} href="" 
      class="graph-board--menu--option">Integer Divide</a>
    <a {{action "select" "graph-node/modulo"}} href="" 
      class="graph-board--menu--option">Modulo</a>
    <a {{action "select" "graph-node/sine"}} href="" 
      class="graph-board--menu--option">Sine</a>
    <a {{action "select" "graph-node/cosine"}} href="" 
      class="graph-board--menu--option">Cosine</a>
  </div>
</div>
<div class="graph-board--menu--category">
  <div class="graph-board--menu--category--name">Displays</div>
  <div class="graph-board--menu--category--list">
    <a {{action "select" "graph-node/number-line"}} href="" 
      class="graph-board--menu--option">Number Line</a>
    <a {{action "select" "graph-node/graph"}} href="" 
      class="graph-board--menu--option">Graph</a>
    <a {{action "select" "graph-node/canvas"}} href="" 
      class="graph-board--menu--option">Canvas</a>
  </div>
</div>
